.clear {
    display: flex;
    justify-content: center;
    align-self: center;
}
.container {
    padding: 30px;
}

body {
    background-color: gray;
}
h1 {
    text-align: center;
    font-size: 50px;
}